@import 'tailwindcss';

@layer base {
    body {
        background-color: #313338;
        overflow: hidden;
        @apply text-white
    }

    ::-webkit-scrollbar {
        width: 0.5rem;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-[#586068] rounded-full
    }

    ::-webkit-scrollbar-corner {
	    background: transparent;
    }

    ::-webkit-resizer {
	    @apply bg-[#586068] rounded-full
    }
}
