@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';

@theme {
    --font-sans: "Inter", sans-serif;
}

@layer base {
    body {
        background-color: #383a40;
        overflow: hidden;
        @apply font-sans text-white;
    }

    ::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.4rem;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-[#586068] rounded-full
    }

    ::-webkit-scrollbar-corner {
	    background: transparent;
    }

    ::-webkit-resizer {
	    @apply bg-[#586068] rounded-full
    }
}
