@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import 'tailwindcss';

@theme {
    --font-sans: "Nunito Sans", sans-serif;
}

@layer base {
    body {
        background-color: #313338;
        overflow: hidden;
        @apply text-white font-sans;
    }

    ::-webkit-scrollbar {
        width: 0.5rem;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-[#586068] rounded-full
    }

    ::-webkit-scrollbar-corner {
	    background: transparent;
    }

    ::-webkit-resizer {
	    @apply bg-[#586068] rounded-full
    }
}
